<ng-container *ngIf="length > 0; else elseTemplate">
    <div class="container-fuluid">
        <div class="row register justify-content-md-center">
            <div class="col-md-6 clo-7">
                <p>Edite Profile</p>
            </div>

        </div>
    </div>
    <div class="container">
        <div class="row justify-content-sm-center">
            <div class="col-lg-9 col-11 main-info emp  ">
                <form #frm="ngForm" class="form-Emplyer">

                    <div class="form-group one">
                        <ng-container *ngIf="imageUrl===null; else elseTemplate">
                            <div class="lds-css ng-scope">
                                <div style="width:100%;height:100%" class="lds-flickr">
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                </div>
                            </div>
                        </ng-container>
                        <ng-template #elseTemplate>
                            <img [src]="imageUrl" alt="image profile" id="image" />
                        </ng-template>
                    </div>
                    <div class="inp-photo">
                        <label class="custom-file-upload two">
                            <input type="file" style="display:none" (change)="fileChanged($event.target.files)" accept=".png, .jpg, .jpeg"
                                #logo="ngModel" ngModel name="logo" id="upload" />
                            <i class="fas fa-plus-circle fa-2x"></i>
                        </label>
                    </div>
                    <div class="save">
                        <span (click)="uploadPic()" class="btn badge badge-dark btn-save-pic">Save</span>
                    </div>
                    <!-- Login info      -->
                    <div class="row head">
                        <div class="head_emp_reg">
                            <span style="color:#eee;"><i class="fas fa-1x fa-lock"></i></span>
                        </div>
                        <p class="toggle-btn">
                            <button class="btn btn-primary btn-md" type="button" data-toggle="modal" data-target="#exampleModal"
                                data-whatever="@getbootstrap">
                                Change your password
                            </button>
                        </p>
                    </div>

                    <div class="collapse multi-collapse" id="multiCollapseExample1">


                    </div>
                    <!--   basic information     -->
                    <div class="row head">
                        <div class="head_emp_reg">
                            <span style="color:#eee;"><i class="fas fa-1x fa-address-card"></i></span>
                        </div>
                        <p class="toggle-btn">
                            <button class="btn btn-primary btn-md" type="button" data-toggle="collapse" data-target="#multiCollapseExample2"
                                aria-expanded="false" aria-controls="multiCollapseExample2"> Edite information for your
                                company
                                <i class="fas fa-1x fa-angle-double-down"></i></button>
                        </p>
                    </div>
                    <div class="collapse multi-collapse" id="multiCollapseExample2">
                        <div class="form-group  col-12">
                            <label>Name of company</label>
                            <input type="text" name="companyName" [(ngModel)]="userInfo.companyName" #companyName="ngModel"
                                required class="form-control {{(companyName.touched||companyName.dirty) ? (companyName.invalid ? 'is-invalid' : 'is-valid') :''}}"
                                placeholder="Name Of Company">
                            <div class="invalid-feedback">
                                <span *ngIf="companyName.errors?.required">
                                    Please provide a name of company
                                </span>
                            </div>
                        </div>

                        <div class="form-group  col-12">
                            <label>Your country</label>
                            <select id="country" name="Country" [(ngModel)]="userInfo.Country" #Country="ngModel"
                                required class="form-control {{(Country.touched||Country.dirty) ? (Country.invalid ? 'is-invalid' : 'is-valid') :''}} ">
                                <option selected value="">Select your Country</option>
                                <option *ngFor="let item of country" value="{{item.name}}">{{item.name}}</option>
                            </select>
                            <div class="invalid-feedback">
                                <span *ngIf="Country.errors?.required">
                                    Please provide a country
                                </span>
                            </div>
                        </div>
                        <div class="form-group  col-12">
                            <label>Web site for your company</label>
                            <input type="url" name="webSite" [(ngModel)]="userInfo.webSite" #webSite="ngModel" class="form-control"
                                placeholder="Web site for Company">
                        </div>
                        <div class="form-group  col-12">
                            <label>Facebook Account or Groub </label>
                            <input type="url" name="facbookGroub" [(ngModel)]="userInfo.facbookGroub" #facbookGroub="ngModel"
                                class="form-control" placeholder="Facebook Account or Groub">
                        </div>
                    </div>

                    <!--   contact information     -->

                    <div class="row head">
                        <div class="head_emp_reg">
                            <span style="color:#eee;"><i class="fas fa-1x fa-user"></i></span>
                        </div>
                        <p class="toggle-btn">
                            <button class="btn btn-primary btn-md" type="button" data-toggle="collapse" data-target="#multiCollapseExample3"
                                aria-expanded="false" aria-controls="multiCollapseExample2"> Edite contact details and
                                company manager
                                <i class="fas fa-1x fa-angle-double-down"></i> </button>
                        </p>
                    </div>
                    <div class="collapse multi-collapse" id="multiCollapseExample3">
                        <div class="form-group  col-12">
                            <label>Name of Administrator</label>
                            <input type="text" name="Manager" [(ngModel)]="userInfo.Manager" #Manager="ngModel"
                                required class="form-control   {{(Manager.touched||Manager.dirty) ? (Manager.invalid ? 'is-invalid' : 'is-valid') :''}}   "
                                placeholder="Name of Administrator">

                            <div class="invalid-feedback">
                                <span *ngIf="Manager.errors?.required">
                                    Please provide a name of Administrator
                                </span>
                            </div>
                        </div>

                        <div class="form-group  col-12">
                            <label>Phone number</label>
                            <input type="tel" name="phone" [(ngModel)]="userInfo.phone" #phone="ngModel" pattern="[0-9][0-9]*"
                                maxlength="11" class="form-control {{(phone.touched||phone.dirty) ? (phone.invalid ? 'is-invalid' : 'is-valid') :''}}  "
                                placeholder="Phone number">

                            <div class="phone-feedback">
                                <span *ngIf="phone.errors?.pattern">
                                    Please provide a correct number
                                </span>
                                <span *ngIf="phone.errors?.maxlength">
                                    more than 11 number
                                </span>
                            </div>


                        </div>
                    </div>

                    <div class="row" style="margin:50px 0 20px 0;">
                        <div class="col-6">
                            <input type="submit" (click)="onUpdate()" [disabled]="frm.invalid" class="btn btn-md btn-block btn-success"
                                name="contiue" value="Save">
                        </div>
                        <div class="col-6">
                            <a class="btn btn-md btn-block btn-info" [routerLink]="['/Employer']">Back</a>
                        </div>
                    </div>
                </form>


                <!--modal for reset password-->
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">

                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Change your password </h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="content">
                                    <div class="form-group row" [hidden]="checked===true">
                                        <div class="col-8 col-md-10">
                                            <input type="password" name="oldPasswoed" ngModel #oldPasswoed="ngModel"
                                                minlength="6" required class="form-control {{(oldPasswoed.touched||oldPasswoed.dirty) ? (oldPasswoed.invalid  ? 'is-invalid' : 'is-valid') :''}}   "
                                                placeholder="please enter old password">
                                            <div class="invalid-feedback">
                                                <span *ngIf="oldPasswoed.errors?.minlength">
                                                    password is less than 6 character
                                                </span>
                                            </div>
                                        </div>
                                        <div class="col-2">
                                            <button [disabled]="oldPasswoed.invalid" (click)="checkpassword(oldPasswoed.value)"
                                                class="btn  btn-success">Ok</button>
                                        </div>
                                    </div>
                                    <form [hidden]="checked===false" #frm2="ngForm" ngSubmit="savePassword()" class="form-Emplyer">
                                        <div class="form-group  col-12">
                                            <input type="password" name="password" ngModel #password="ngModel" required
                                                minlength="6" class="form-control {{(password.touched||confirm.dirty) ? (password.invalid ? 'is-invalid' : 'is-valid') :''}}"
                                                placeholder="Paswword">

                                            <div class="invalid-feedback">
                                                <span *ngIf="password.errors?.required">
                                                    Please provide a password
                                                </span>
                                                <span *ngIf="password.errors?.minlength">
                                                    password is less than 6 character
                                                </span>
                                            </div>
                                        </div>
                                        <div class="form-group  col-12">
                                            <input type="password" name="confirm" required ngModel #confirm="ngModel"
                                                class="form-control {{(confirm.touched||confirm.dirty) ? ((confirm.invalid || password.value!=confirm.value) ? 'is-invalid' : 'is-valid') :''}}  "
                                                placeholder="Confirm Password">
                                            <div class="invalid-feedback">
                                                <span *ngIf="confirm.errors?.required">
                                                    Please provide a confirm password
                                                </span>
                                                <span *ngIf="password.value!=confirm.value">
                                                    Please type the same password
                                                </span>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            <button type="button" (click)="resetPassword(password.value)" [disabled]="frm2.invalid || password.value!=confirm.value "
                                                class="btn btn-primary">
                                                save Change </button>
                                        </div>
                                    </form>
                                </div>
                                <div style="height: 44px;
                              text-align: center;
                              padding: 10px;
                              display: none;"
                                    class="alert alert-success">
                                    <p>Done! password is changed</p>
                                </div>
                            </div>

                        </div>


                    </div>
                </div>
                <!-- end modal-->
            </div>

        </div>
    </div>
</ng-container>
<ng-template #elseTemplate>
    <div class="lds-ripple">
        <div></div>
        <div></div>
    </div>
</ng-template>