
   <ng-container *ngIf="length > 0 ; else elseTemplate">
    <main role="main" class="container">
      <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-purple rounded shadow-sm header">
        <div class="lh-100">
          <h6 class="mb-0 text-white lh-100">{{details.jobName}}</h6>
          <small>{{details.Country}}</small>
        </div>
      </div>
      <div class="my-3 p-3 bg-white rounded shadow-sm">
        <h6 class="border-bottom border-gray pb-2 mb-0">Company Information</h6>
        <div class="media text-muted pt-3">
          <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
            <strong class="d-block text-gray-dark">+ Name of Company</strong>
                      {{details.companyName}}
          </p>
        </div>
        <div class="media text-muted pt-3">
          <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
            <strong class="d-block text-gray-dark">+ Country</strong>
                {{details.Country}}
          </p>
        </div>
        <div class="media text-muted pt-3">
          <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
            <strong class="d-block text-gray-dark">+ webSite</strong>
             {{  details.webSite}}
             </p>
        </div>
        <div class="media text-muted pt-3">
          <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
            <strong class="d-block text-gray-dark">+ facbook Groub</strong>
            {{ details.facbookGroub}}
             </p>
        </div>
      </div>
  
  
      
      <div class="my-3 p-3 bg-white rounded shadow-sm">
        <h6 class="border-bottom border-gray pb-2 mb-0">Job Information</h6>
        <div class="media text-muted pt-3">
          <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
            <strong class="d-block text-gray-dark">+ Name of Job</strong>
                      {{details.jobName}}
          </p>
        </div>
        <div class="media text-muted pt-3">
          <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
            <strong class="d-block text-gray-dark">+ Category</strong>
                {{details.catig}}
          </p>
        </div>
        <div class="media text-muted pt-3">
          <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
            <strong class="d-block text-gray-dark">+ Job Details</strong>
              {{details.jobDetails}}
             </p>
        </div>
        <div class="media text-muted pt-3" >
            <ng-container *ngIf="jobstatus !== true; else elseTemplate">
                <button  class="btn btn-success"(click)="apllyJob()" id="applay" >Apllay for Job</button>
        </ng-container>
        <ng-template #elseTemplate>
            <button  class="btn btn-secondery" disabled  id="applay" >you apply for this job</button>
        </ng-template>
              <a style="margin-left: 36px;" class="btn btn-info Back"
              [routerLink]="['/Seeker']"
              >Back to List</a>
          </div>
      </div>
    </main>
   </ng-container>
   <ng-template #elseTemplate>
    <div class="lds-ripple"><div></div><div></div></div>
   </ng-template>
   
   