
 .one {
    text-align: center;
    margin-top: -63px;
}

    .one img {
        border: 4px solid #f9f9f9;
        height: 100px;
        width: 100px;
        background-color: #f1f1f1;
    } 
   
.two {
    color: #347296;
    position: relative;
    top: 12px;
    right: 72px;
    cursor: pointer;
}


.head_emp_reg {
    margin: 0 16px 0 -45px;
    border-radius: 50%;
    background-color: #0092fb;
    width: 41px;
    height: 40px;
    border: 2px solid #fff;
    text-align:center;
}

.emp
{
    background: #fff;
    margin-top: 130px;
}
   .emp .head p{

       margin-top:5px;
    }







.register {
    background-color: #12132dc2;
    height: 203px;
    color: #ffffffa1;
    margin-top: 61px;
    border-radius: 9px;

       
   }
   .register p {
  
    font-family: -webkit-body;
    font-size: 24px;
    text-align: center;
    padding: 24px 0 0 28px;


   }
.main-info {
   
     border: 1px #edeeef solid;
     padding-top:12px;
     border-radius: 9px;
     background-color: #fff;
     margin-top:-40px;
     
    
}

.main-info .head {
    
    color: #000;
    margin-left: 1%;
    font-size: 23px;
    font-weight: 400;
    font-family: -webkit-body
   
} 

    /* media  */

@media (max-width:1199px){
  

    .main-info{

         margin-left:25px;
          /*height:500px;*/

    }
    .emp .head p{

        font-size:large;
        margin-top:10px;
    }
   .head_emp_reg{

       margin-right:3px;
   } 

}



    















