
<div class="container-fuluid">
    <div class="row register justify-content-md-center">
        <div class="col-md-6 clo-7">
                <p>are you looking for a job? Create an account and enjoy the service</p>
        </div>
    </div>
</div>
<div class="container">
  <div class="row justify-content-sm-center">
      <div class="col-lg-10 col-11 main-info emp  ">
     <form #frm="ngForm" (ngSubmit)="Register(frm)" class="form-Emplyer" >
          
                           <!--   login info     -->  

          <div class="row head">
                <div class="head_emp_reg">
                    <span style="color:#eee;">1</span>
                </div>
             <p>Login information</p>
            </div>
          <div class="form-group  col-12">
              <input  type="email" name="userEmail" [(ngModel)]="Seeker.userEmail" #userEmail="ngModel" required pattern="^([0-9]{9})|([A-Za-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3})$" 
              class="form-control {{(userEmail.touched||userEmail.dirty) ? (userEmail.invalid  ? 'is-invalid' : 'is-valid') :''}}   "  placeholder="Email" >
              <div class="invalid-feedback">
                    <span *ngIf="userEmail.errors?.required">
                            Please provide an Email
                    </span>
                    <span *ngIf="userEmail.errors?.pattern">
                           Email isn't correct 
                    </span> 
            </div>             
            </div>
          

          <div class="form-group  col-12">
               <input type="password" name="password"  [(ngModel)]="Seeker.password" #password="ngModel" required minlength="6" 
                class="form-control {{(password.touched||confirm.dirty) ? (password.invalid ? 'is-invalid' : 'is-valid') :''}}" placeholder="Paswword">
         
                <div class="invalid-feedback">
                        <span *ngIf="password.errors?.required">
                                Please provide a  password
                        </span> 
                        <span *ngIf="password.errors?.minlength">
                                 password is less than 6 character
                        </span> 
                </div>
            </div>


         <div class="form-group  col-12">
                <input type="password"  name="confirm" required  ngModel #confirm="ngModel"
                 class="form-control {{(confirm.touched||confirm.dirty) ? ((confirm.invalid || password.value!=confirm.value) ? 'is-invalid' : 'is-valid') :''}}  " placeholder="Confirm Password">
                 <div class="invalid-feedback">
                        <span *ngIf="confirm.errors?.required">
                                Please provide a confirm password
                        </span> 
                        <span *ngIf="password.value!=confirm.value">
                                Please type the same password 
                        </span>
                </div>
                </div>
                                <!--   basic information     -->
            <div class="row head">
                <div class="head_emp_reg">
                    <span style="color:#eee;">2</span>
                </div>
             <p>About You</p>
            </div>
          <div class="form-group  col-12">
               <select id="country" name="Country" [(ngModel)]="Seeker.Country" #Country="ngModel" required 
               class="form-control {{(Country.touched||Country.dirty) ? (Country.invalid ? 'is-invalid' : 'is-valid') :''}} ">
               <option selected value="">Select your Country</option>   
               <option *ngFor="let item of country" value="{{item.name}}">{{item.name}}</option> 
               </select>
               <div class="invalid-feedback">
                    <span *ngIf="Country.errors?.required">
                            Please provide a  country
                    </span> 
            </div>
         </div>
         <div class="form-group  col-12">
            <input  type="text" name="userName" [(ngModel)]="Seeker.userName" #userName="ngModel" required maxlength="20"
            class="form-control {{(userName.touched||userName.dirty) ? (userName.invalid  ? 'is-invalid' : 'is-valid') :''}}   "  placeholder="your name" >
            <div class="invalid-feedback">
                  <span *ngIf="userName.errors?.required">
                          Please provide your Name
                  </span>
                  <span *ngIf="userName.errors?.maxlength">
                         larger than 20 character
                  </span> 
          </div>             
          </div>
         <div class="form-group  col-12">
            <input name="salary" #salary="ngModel" [(ngModel)]="Seeker.salary" required type="number" pattern="[1-9][0-9]*"
            class="form-control {{(salary.touched || salary.dirty) ? (salary.invalid ? 'is-invalid' : 'is-valid' ): ''}}    "
               placeholder="Salary required">
           <div class="invalid-feedback">
               <span *ngIf="salary.errors?.required">
                   Please provide a Salary required
               </span>
               <span *ngIf="salary.errors?.pattern">
                   * Enter correct number
               </span>
           </div>
      </div>
      <div class="form-group  col-12">
          <textarea name="Bio" #Bio="ngModel" [(ngModel)]="Seeker.Bio" required minlength="20" maxlength="400" cols="30" rows="10"
          class="form-control {{(Bio.touched || Bio.dirty) ? (Bio.invalid ? 'is-invalid' : 'is-valid' ): ''}}"
           placeholder="Bio"></textarea>
          <div class="invalid-feedback">
             <span *ngIf="Bio.errors?.required">
                 Please provide a  BIO
             </span>
             <span *ngIf="Bio.errors?.minlength">
                  less than 20 characters
             </span>
             <span *ngIf="Bio.errors?.maxlength">
                  more than 400 characters
             </span>
         </div>
    </div>


              <input type="submit" [disabled]="frm.invalid || password.value!=confirm.value" class="btn btn-block btn-success" name="contiue" value="Sign Up" id="save" style="margin:50px 0 20px 0;">
            </form>  
      </div>
  </div>


</div>

